<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <input>
                         
            <button>Buscar productos, marcas</button>
            <button>
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i></i>
            </button>

            <h3>Compra en cuotas y sin tarjeta de credito</h3>
            <div id="menu hamb">
                <i class="fa-solid fa-bars"></i> 
          </div>
            <ul id="barra menú">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </di>  
        <div id="menu-login">   
            <ul type="none" class="listado">  
                <li class="barra_h"><a href="#"></i>Crea tu Cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            </div>
        <section id="banner_main">
            <div><img src=/img/img-home-banner.jpg>
            </div>
        </section>
<main>
    <div id="ultima_visita">
    <h3>Basado en tu última visita</h3>
</div>
    <img src="/img/img-cafetera-moulinex.jpg">
    <i class="fa-solid fa-truck"></i>
    <p>$6770</p>
    <p>40% OFF</p>
    <p>Cafetera Moulinex</p>
</main>   

                     
    <div>

     
     
        
              </imagen>
                 </section>
            </div>
         <div>
              <section class="product-box">
              <img src="/img/img-macbook-pro-2019.jpg">
                 <imagen class="product-box-data">
                <h2>$230000</h2>
               <span>20% OFF</span>
                     <p>MacBook Pro 2019</p>
             </imagen>
                </section>  
            </div>
            <div>
                <section class="product-box">
                <img src="/img/img-samsung-galaxy-s10.jpg">
                   <imagen class="product-box-data">
                  <h2>$70500</h2>
                 <span>10% OFF</span>
                       <p>Samsung-galaxy-s10</p>
               </imagen>
                  </section>  
              </div>
<div><div>
    <section class="product-box">
    <img src="/img/img-tv-samsung-smart.jpg">
       <imagen class="product-box-data">
      <h2>$23200</h2>
     <span>5% OFF</span>
           <p>Smart Tv Samsung 43"</p>
   </imagen>
      </section>  
  </div>
      <section class="product-box">
        <img src="/img/img-samsung-galaxy-s10.jpg">
             <imagen class="product-box-data">
             <h2>$70500</h2>
             <span>10% OFF</span>
            <p>Samsung-galaxy-s10</p>
             </imagen>
                </section>  
         </div> 
                </div>

            </div>
    <footer id="mi-footer">

    </footer>
            
</body>

            