<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img
        src="..public/images/logo-mercado-liebre.svg" alt="Imagen logo mercado liebre">        
         <input>
<button>search</button>
<h3>Compra en cuotas y sin tarjeta de credito</h3>

        <nav class="navbar texto centrado">
            <ul>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Crea tu Cuenta</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Mis Compras</a></li>
            </ul>
        </nav>
        <div class="container products-wrapper">
            <div class="row">
            <div class="col-12">
                <h2 class="products-title">Basado en tu última visita</h2>
                <div class="col-12 col-md-6 col-lg-3">
                    <section class="product-box">
                        <img-cafetera-moulinex.jpg></img-cafetera-moulinex.jpg>
                    </section>
                </div>

            </div>
            


            </div>
                </div>
        </div>
</body>
</html>
