<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
   <link rel="stylesheet" href="css/styles.css">
    <link href="styles/styles.css" rel="stylesheet" type="text/css">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
        <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
        <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="stylesheet">
   
</head>
<body>
    <header>
        
        <div class="top-nav-container">
            </div> 
        <img
        src="/images/logo-mercado-liebre.svg" alt="Imagen logo mercado liebre" class="logo w50">        

         <input>

         <button class="button-nav">
            <i class="fas fa-search"></i>
         </button>
         
        <nav class="navbar texto centrado">
            <ul>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Crea tu Cuenta</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Mis Compras</a></li>
            </ul>
        </nav>
</body>
</html>
