#header{
font-family: Roboto;
color: #03264C;
background-color: #EAC926;
flex-flow: column wrap;
box-sizing: border-box;
width: 150px;
height: 120px;
padding: 10ppx20px;
display: flex;
}
#banner_main{
    display: block;
    width: 100%;
}
.mis_prod1{
    flex-wrap: wrap;
}
.datos{
    display: flex ;
    flex-direction: column;
    box-sizing: border-box;
}
.img_de_prod1{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 1;
    min-height: 3em;
    text-transform: uppercase;
    font-weight: 400;
}

.mis_prod2{
    flex-wrap: wrap;
}
.datos{
    display: flex;
    flex-flow: column wrap;
    width: 120px;
    height: 100px;
}
.img_de_prod2{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
            
}
.mis_prod3{
    flex-wrap: wrap;
}
.datos{
    display: flex;
    flex-flow: column wrap;
    width: 120px;
    height: 100px;
}

.img_de_prod3{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;

}
.mis_prod4{
    flex-wrap: wrap;
}
.datos{
    display: flex;
    flex-flow: column wrap;
    width: 120px;
    height: 100px;
}

.img_de_prod4{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
}  
.mis_prod5{
    flex-wrap: wrap;
}
.datos{
    display: flex;
    flex-flow: column wrap;
    width: 120px;
    height: 100px;
}

.img_de_prod5{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;

}


.datos2{
    display: flex ;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
}
.datos3{
    display: flex ;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
}
.datos4{
    display: flex ;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
}
.datos5{
    display: flexbox ;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
}
#mi_footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
}