.navbar-brand img{
    height:3vw
}
body{
    background-color: #eac926;
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
    display: flex;
    flex-flow:row nowrap
}

.container1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
.container products-wrapper{
       display: flex;
   flex-wrap: wrap;
   flex: 50%

}
